global
    log stdout format raw local0 info
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    log-format '{"time":"%t","Tq":%Tq,"Tr":%Tr,"Tt":%Ts,"status":%ST,"bytes":%B,"tsc":"%tsc","actconn":%ac,"feconn":%fc,"beconn":%bc,"srvconn":%sc,"retries":%rc,"srv_queue":%sq,"backend_queue":%bq,"request":"%{+Q}r"}'

frontend http_front
    bind *:80
    default_backend whoami_backend

backend whoami_backend
    balance roundrobin
    server whoami whoami:8080 check
